.status-bar {
  background: darken($med-blue, 5%);
  margin: 0 !important;
  padding: $small-spacing*1.4 $base-spacing*2.5 $small-spacing;
  text-align: center;
  position: relative;

  h4 {
    font-size: 1rem;
    text-transform: uppercase;
    color: transparentize($almost-white, 0.5);
    line-height: 1;
  }
}
