@charset "utf-8";

body {

  }

h1 {
  font-size: 1rem;
  }

ul {
  list-style-type: none;
}

/* Sections */
nav ul{
  list-style: none; overflow: hidden; position: relative;
}
nav ul li {
		float: left; margin: 0 20px 0 0;
