<footer>
  <div class="wrapper">
    <p>
      <ul>
        <li><%=link_to "Meetup Group", "http://bit.ly/ttwrsvp" %></li>
        <li><%=link_to "Facebook", "https://www.facebook.com/groups/859712457450247/" %></li>
        <li><%=link_to "Twitter", "http://www.twitter.com/TriadTechWomen" %></li>
        <li><%=mail_to "anita@tinygoatstudio.com", "Anita Cafiero, Organizer" %></li>
      </ul>
    </p>
    <hr class="small">
    <p class="is-centered">Copyright (c) 2015 Triad Tech Women | All Rights Reserved.</p>
  </div>
</footer>
