---
title: Home
---

<section class="hero">
  <div class="wrapper">
    <h4 class="is-centered">Community, support, education, advocacy to women in technology in the Triad.</h5>
  </div>
</section>

<section class="about" id="about">

  <div class="wrapper">
    <div class="third">
      <h4>Community</h4>
      <p>
        North Carolina has the best ratio for women in tech in the country. In spite of this, our community remains underrepresented. We work to provide a safe space for women to come together to network, learn, mentor and have fun.
      </p>
    </div>
    <div class="third">
      <h4>Education</h4>
      <p>
        Continuing education is important in any field - especially technology. Triad Tech Women offers workshops, courses and talks to help women stay at the top of their game.
      </p>
    </div>
    <div class="third">
      <h4>Outreach</h4>
      <p>
        Many young women start college without ever having been exposed to Computer Science, Programming or other STEM fields. Unfortunately, women are also more likely to abandon their degrees. We will partner with local high schools, universities and community groups to increase exposure and encourage students to return to their studies.
      </p>
    </div>
  </div>
</section>
